option_settings:
  aws:elasticbeanstalk:application:environment:
    NPM_USE_PRODUCTION: false  
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: "aws-elasticbeanstalk_instance_profile"
    EC2KeyName: "gov-ec2"
  aws:elasticbeanstalk:environment:
    ServiceRole: "eb_cf_serviceRole"
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced